#container {
    width: 80vw;
    height: 80vh;
    border: 2px dotted black;
}
.title-text-svg {
    font-size: 35px;
    font-weight: bold;
}
.normal-text-svg {
    font-weight: bold;
}
.complementary-text {
    font-size: 35px;
    font-weight: bold;
}
.bigger-text-svg {
    font-size: 25px;
    font-weight: bold;
}
