
.invertor-detailed-desc {
    display: none;
}

.invertor-detailed-desc-active {
    display: block;
}


/* SVG related classes */
.title-text-svg {
    font-size: larger;
}
.normal-text-svg {
    font-size: normal;
}
.bigger-text-svg {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
.subindex-text-svg {
    font-size: small;
    font-weight: bold;
    font-style: italic;
}
.subsubindex-text-svg {
    font-size: x-small;
    font-weight: bold;
    font-style: italic;
}