.complementary {
    animation:
        complementary-pulse 3s ease,
        text-pulse 3s ease;
}

.metal {
    animation:
        metal-pulse 3s ease 3s,
        text-pulse 3s ease 3s;
}

.oxid {
    animation:
        oxid-pulse 3s ease 6s,
        text-pulse 3s ease 6s;
}

.semiconductor {
    animation: 
        semiconductor-pulse 3s ease 9s,
        text-pulse 3s ease 9s;
}

@keyframes text-pulse {
    0% {color:#0a0a0a;}
    100% {color:#eeea05;}
}

@keyframes complementary-pulse {
    0% {fill:#0a0a0a;}
    100% {fill:#eeea05;}
}

@keyframes metal-pulse {
    0% {fill: #000000;}
    100% {fill: #eeea05;}
}

@keyframes oxid-pulse {
    0% {fill: #C4C4C4;}
    100% {fill: #eeea05;}
}

@keyframes semiconductor-pulse {
    0% {fill: #0862CC;}
    100% {fill: #eeea05;}
}
