* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  --main-height: 92vh;
  --nav-height: 8vh;
  height: var(--main-height);
  font-family: sans-serif;
}

nav {
  --navbar-color: #112233;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: var(--nav-height);
  background-color: var(--navbar-color);
  font-family: sans-serif;
}

.nav-title a {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  color: rgb(255, 150, 0);
  text-decoration: none;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color:rgb(226, 226, 226);
  margin: 3px;
  transition: all 0.5s ease;
}

.burger-toggle .layer-1 {
  transform: rotate(-45deg) translate(-5px, 4px);
}

.burger-toggle .layer-2 {
  opacity: 0;
}

.burger-toggle .layer-3 {
  transform: rotate(45deg) translate(-5px, -4px);
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0px;
    height: var(--main-height);
    top: var(--nav-height);
    background-color: var(--navbar-color);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }
  .nav-items li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

@keyframes fadeNavBurger {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.lang-switcher {
  width: 30px;
  height: 15px;
}

.nav-active {
  transform: translateX(0%);
}

.flexbox-container {
  display: flex;
  height: var(--main-height);
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-between;
  background-color: white;
  z-index: 0;
}

.row-flexbox-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.flexbox-item {
  display: block;
  min-width: 300px;
  min-height: 300px;
  margin: 40px;
  cursor: pointer;
  --bring-item-duration: 0.4s;
  --bring-item-delay-multiplier: 0.5;
}

.flexbox-item-1 {
  background-image: url("/images/main_icons/cmos_structure.jpg");
  background-size: cover;
  animation: animate-flex-item var(--bring-item-duration) ease forwards;
  animation-delay:  calc(var(--bring-item-delay-multiplier)*0.2s);
}

.flexbox-item-2 {
  background-image: url("/images/main_icons/nor_gate.png");
  background-size: cover;
  animation: animate-flex-item var(--bring-item-duration) ease forwards;
  animation-delay:  calc(var(--bring-item-delay-multiplier)*0.4s);
}

.flexbox-item-3 {
  background-image: url("/images/main_icons/nand_gate.png");
  background-size: cover;
  animation: animate-flex-item var(--bring-item-duration) ease forwards;
  animation-delay:  calc(var(--bring-item-delay-multiplier)*0.6s);
}

.flexbox-item-4 {
  background-image: url("/images/main_icons/invertor_gate.png");
  background-size: cover;
  animation: animate-flex-item var(--bring-item-duration) ease forwards;
  animation-delay:  calc(var(--bring-item-delay-multiplier)*0.8s);
}

.flexbox-item-5 {
  background-image: url("/images/main_icons/combined_gate.png");
  background-size: cover;
  animation: animate-flex-item var(--bring-item-duration) ease forwards;
  animation-delay:  calc(var(--bring-item-delay-multiplier)*1s);
}

.flexbox-item-6 {
  background-image: url("/images/main_icons/quiz_icon.png");
  background-size: cover;
  animation: animate-flex-item var(--bring-item-duration) ease forwards;
  animation-delay:  calc(var(--bring-item-delay-multiplier)*1.2s);
}

@keyframes animate-flex-item {
  0% {transform: translateY(0%);}
  25% {transform: translateY(-5%);}
  50% {transform: translateY(-10%);}
  75% {transform: translateY(-5%);}
  100% {transform: translateY(0%);}
}

.animation-container {
  display: none;
  height: var(--main-height);
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "return canvas options"
    ". canvas legend";
}

.animation-return-image {
  width: 35px;
  height: 35px;
}

.animation-return-row {
  grid-area: return;
  align-self: up;
  justify-self: left;
}

.animation-legend {
  grid-area: legend;
  align-self: up;
  justify-self: center;
}

.animation-canvas {
  grid-area: canvas;
  align-self: center;
  justify-self: center;
}

.animation-options {
  grid-area: options;
  align-self: bottom;
  justify-self: center;
}

.theory-main-container {
  display: flex;
  height: var(--main-height);
  flex-direction: column;
  align-items: space-evenly;
  z-index: 0;
  --basic-margin-value: 20px;
}

.theory-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.theory-item {
  background-color: #dce1f0;
  width: 30vw;
  height: fit-content;
  margin: var(--basic-margin-value);
  cursor: text;
  text-align: center;
  border-radius: 30px;
}

.theory-item p {
  margin: var(--basic-margin-value);
  font-size: 20px;
}

.theory-item h4 {
  font-size: 30px;
  margin: var(--basic-margin-value);
}

.theory-item:hover {
  border-radius: 10px;
}
