* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --nav-title-color: rgb(250, 150, 0);
  --td-common-height: 45px;
  --td-common-width: 60px;
}

html {
  height: 100vh;
}

body {
  --main-height: 92vh;
  --nav-height: 8vh;
  height: var(--main-height);
  font-family: sans-serif;
  background-color: white;
}

body.lang-en .sk-only{
  display: none;
}

body.lang-sk .en-only{
  display: none;
}

nav {
  --navbar-color: #112233;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: var(--nav-height);
  background-color: var(--navbar-color);
  font-family: sans-serif;
}

.nav-title a {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  color: var(--nav-title-color);
  text-decoration: none;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color:rgb(226, 226, 226);
  margin: 3px;
  transition: all 0.5s ease;
}

.burger-toggle .layer-1 {
  transform: rotate(-45deg) translate(-5px, 4px);
}

.burger-toggle .layer-2 {
  opacity: 0;
}

.burger-toggle .layer-3 {
  transform: rotate(45deg) translate(-5px, -4px);
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0px;
    height: var(--main-height);
    top: var(--nav-height);
    background-color: var(--navbar-color);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }
  .nav-items li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

@keyframes fadeNavBurger {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.lang-switcher {
  width: 30px;
  height: 15px;
}

.nav-active {
  transform: translateX(0%);
  opacity: 1;
}

.flexbox-container {
  top: var(--nav-height);
  display: flex;
  height: var(--main-height);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-around;
  justify-content: space-around;
  z-index: 0;
  padding: var(--nav-height);
  /* background: url(../images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.flexbox-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 25vh;
  margin: 0.5vw;
  cursor: pointer;
  align-items: center;
  justify-items: center;
}

.flexbox-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  max-width: 150px;
  transform: translate(-50%, -50%);
}

.flexbox-item:hover {
  border: 1px solid black;
  border-radius: 20px;
  background-color: aliceblue;
  transform: translateY(-10%);
}

.animation-container {
  display: none;
  height: var(--main-height);
  grid-template-columns: 0.1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "return frame options"
    ". frame options";
}

.animation-return-image {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.animation-return-row {
  grid-area: return;
  align-self: up;
  justify-self: left;
}

.animation-frame {
  position: relative;
  width: 100%;
  height: 90%;
  grid-area: frame;
  align-self: center;
  justify-self: center;
}

.animation-options {
  position: relative;
  grid-area: options;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.animation-nav-buttons {
  position: relative;
  max-width: 100%;
  max-height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* Style from https://fdossena.com/?p=html5cool/buttons/i.frag */
.animation-button {
  display: inline-block;
  padding: 0.55em 1.2em;
  border: 0.1em solid #ff3030;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: var(--navbar-color);
  text-align: center;
  transition: all 0.2s;
  background-color: var(--nav-title-color);
}

.animation-button-disabled {
  background-color: white;
}

.animation-button:hover {
  color:#000000;
  background-color:#FFFFFF;
  cursor:pointer;
}

.animation-button-disabled:hover {
  background-color: white;
  cursor: not-allowed;
}

.select-element {
  padding: 8px 12px;
  color: var(--navbar-color);
  background-color: var(--nav-title-color);
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 5px;
  appearance: none;
  margin: 10px auto;
  font-weight: bold;
  font-size: large;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.select-element:focus,
.select-element:hover {
  outline: none;
  border: 1px solid #ff0000;
}

.select-title {
  font-weight: bold;
  font-size: large;
  color: var(--navbar-color);
}

.select-element option {
  background: #ffffff;
  color: var(--navbar-color);
  font-weight: bold;
}

.theory-main-container {
  display: flex;
  height: var(--main-height);
  flex-direction: column;
  align-items: space-evenly;
  z-index: 0;
  --basic-margin-value: 20px;
}

.theory-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.theory-item {
  background-color: #dce1f0;
  width: 30vw;
  height: fit-content;
  margin: var(--basic-margin-value);
  cursor: text;
  text-align: center;
  border-radius: 30px;
}

.theory-item p {
  margin: var(--basic-margin-value);
  font-size: 20px;
}

.theory-item h4 {
  font-size: 30px;
  margin: var(--basic-margin-value);
}

.theory-item:hover {
  border-radius: 10px;
}

/*
Legend-related classes and elements
*/

.legend-table-div {
  position: relative;
  width: 100%;
  justify-content: left;
}

.legend-table {
  width: 100%;
}

.legend-table thead {
  font-size: large;
  justify-content: center;
  text-align: center;
}

.legend-desc-text {
  min-height: 50px;
  /* min-width: var(--td-common-width); */
  min-width: 180px;
}

.legend-image {
  width: 100%;
  height: 100%;
  max-width: 35px;
  max-height: 35px;
}

.legend-separator {
  min-width: 20px;
}

.legend-text-symbol {
  font-weight: bold;
  font-size: large;
  font-style: italic;
  text-align: center;
}

/* SVG related styles 
This section includes styles for
 - Cmos Intro animation
 - Invertor animation
 - Nor animation
 - Nand animation
 - Cmos Principle animation
*/

.cmos-title-text {
  font-size: xx-large;
  font-weight: bold;
}

.cmos-text-svg {
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

.intro-title-text-svg {
  font-size: xx-large;
  font-weight: bold;
}

.title-text-svg {
    font-size: larger;
}

.truth-table-text-svg {
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}

.voltage-blue-text-svg {
  font-size: x-large;
  fill: rgb(0, 66, 255);
  font-weight: bold;
}

.bold-text-svg {
  font-weight: bold;
  font-style: italic;
}

.normal-text-svg {
    font-size: normal;
}

.bigger-text-svg {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.subindex-text-svg {
    font-size: small;
    font-weight: bold;
    font-style: italic;
}

.subsubindex-text-svg {
    font-size: x-small;
    font-weight: bold;
    font-style: italic;
}

.detailed-symbol {
  display: none;
}

.detailed-symbol-active {
  display: block;
}

.center-help-div {
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  text-align: center;
}

.help-paragraph {
  display: inline-block;
  width: 75%;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 20px;
}

.help-paragraph p {
  padding: 15px;
}

audio::-webkit-media-controls-panel {
  background-color: var(--nav-title-color);
  -webkit-user-select: none;
  user-select: none;
}

audio::-webkit-media-controls-overlay-enclosure {
    display: none;
}

audio:focus {
  outline:  none;
}
