* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 92vh;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5D4954;
  font-family: sans-serif;
}

.nav-title {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color:rgb(226, 226, 226);
  margin: 3px;
  transition: all 0.5s ease;
}

.burger-toggle .layer-1 {
  transform: rotate(-45deg) translate(-5px, 4px);
}

.burger-toggle .layer-2 {
  opacity: 0;
}

.burger-toggle .layer-3 {
  transform: rotate(45deg) translate(-5px, -4px);
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5D4954;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-items li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

@keyframes fadeNavBurger {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.lang-switcher {
  width: 30px;
  height: 15px;
}

.nav-active {
  transform: translateX(0%);
}

.flexbox-container {
  display: flex;
  height: 92vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.row-flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexbox-item {
  min-width: 300px;
  min-height: 300px;
  margin: 40px;
}

.flexbox-item-1 {
  background-image: url("/images/main_icons/cmos_structure.jpg");
  background-size: cover;
}

.flexbox-item-2 {
  background-image: url("/images/main_icons/nor_gate.png");
  background-size: cover;
}

.flexbox-item-3 {
  background-image: url("/images/main_icons/nand_gate.png");
  background-size: cover;
}

.flexbox-item-4 {
  background-image: url("/images/main_icons/invertor_gate.png");
  background-size: cover;
}

.flexbox-item-5 {
  background-image: url("/images/main_icons/combined_gate.png");
  background-size: cover;
}

.flexbox-item-6 {
  background-image: url("/images/main_icons/quiz_icon.png");
  background-size: cover;
}

.animation-container {
  display: none;
  height: 92vh;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "return canvas options"
    ". canvas legend";
}

.animation-return-image {
  width: 35px;
  height: 35px;
}

.animation-return-row {
  grid-area: return;
  align-self: up;
  justify-self: left;
}

.animation-legend {
  grid-area: legend;
  align-self: up;
  justify-self: center;
}

.animation-canvas {
  grid-area: canvas;
  align-self: center;
  justify-self: center;
}

.animation-options {
  grid-area: options;
  align-self: bottom;
  justify-self: center;
}
